/*based on subscriptions page*/

.grid-subheader.ytd-shelf-renderer,
#contents.ytd-shelf-renderer {
	margin-top: 1em;
}
ytd-expanded-shelf-contents-renderer {
	margin-bottom: 1em;
}
ytd-thumbnail.ytd-video-renderer {
	width: 200px;
	height: auto;
	min-height: 112px;
}
#title-container h2.ytd-shelf-renderer {
	font-size: 0px !important;
}
#contents.ytd-section-list-renderer > .ytd-section-list-renderer:not(:last-child) {
	border-bottom: 1px solid #CCC;
}
/* 2017 theme adjustmets start */
/* made with theater mode activated */
/* top bar is always dark */

#country-code,
yt-icon.style-scope.ytd-button-renderer,
yt-icon.style-scope.ytd-topbar-menu-button-renderer,
yt-icon.style-scope.ytd-notification-topbar-button-renderer {
	color: #666 !important;
}
/* top bar is always dark */

yt-icon.style-scope.ytd-masthead,
yt-icon#logo-icon {
	opacity: .5;
}
/* top bar */

#container.ytd-masthead {
	height: auto;
}
/* rest of page */

ytd-watch {
	margin-top: -40px;
}
#content {
	margin-top: -16px;
}
#background,
#channel-container {
	margin-top: -16px;
}
/* more compact playlist headings */

H3.style-scope.ytd-playlist-panel-renderer,
H3.style-scope.ytd-playlist-panel-renderer *,
#publisher-container.ytd-playlist-panel-renderer,
#publisher-container.ytd-playlist-panel-renderer *,
#top-level-buttons:not(#tooltip),
#top-level-buttons *:not(#tooltip),
#playlist-actions.ytd-playlist-panel-renderer:not(#tooltip),
#playlist-actions.ytd-playlist-panel-renderer *:not(#tooltip) {
	display: inline !important;
}
H3.style-scope.ytd-playlist-panel-renderer,
#publisher-container {
	margin-right: 1em;
}
/* video title */

ytd-video-primary-info-renderer.style-scope.ytd-watch {
	padding-top: 0;
}
/* like bar */

ytd-sentiment-bar-renderer {
	background-color: red;
}
ytd-sentiment-bar-renderer#sentiment {
	width: 100% !important;
}
/* top of video hidden behind top nav bar */

ytd-watch[theater] #player.ytd-watch {
	margin-top: 40px;
}
/* player size adjustments - optimized for F11 on 1280x800 screen */

ytd-watch[theater] #player.ytd-watch {
	box-sizing: border-box;
	width: 100%;
	height: calc((9/16)*100vw);
	max-height: calc(100vh - 100px);
	/* min-height: var(--flex854-mode-player-height); */
}
.html5-video-container video.video-stream.html5-main-video {
	width: 98% !important;
	height: auto !important;
	left: 1%;
	/* top: 0px; */
}
/* 2017 theme adjustmets end */